@import '../utilities/variables';

.acceptButton{
  height: 53px;
  width: 210px;
  margin-top: 8px;
  background-color:$accept-button;
  color: white;
  font-family: $ghostButtonFont;
  font-size: 2rem;
  border: none;
  border-radius: $ButtonRadius;
  &:hover{
    background-color: #8ab427;
    color: white;
    cursor: pointer;
  }
}