@font-face {
  font-family: "Ralewai-Regular";
  src: url("../../../assets/fonts/Raleway/static/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Ralewai-medium";
  src: url("../../../assets/fonts/Raleway/static/Raleway-Light.ttf");
}
@font-face {
  font-family: "Ralewai-semibold";
  src: url("../../../assets/fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Ralewai-bold";
  src: url("../../../assets/fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Almarai-ExtraBold";
  src: url("../../../assets/fonts/Almarai/Almarai-ExtraBold.ttf");
}
@font-face {
  font-family: "Almarai-Regular";
  src: url("../../../assets/fonts/Almarai/Almarai-Regular.ttf");
}
@font-face {
  font-family: "Almarai-Bold";
  src: url("../../../assets/fonts/Almarai/Almarai-Bold.ttf");
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 87.5%;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 280px;
  max-width: 800px;
}

.consultConstumerinDBTitle {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 20px;
}
.consultConstumerinDBTitle span {
  background-image: url("../../../assets/icons/entryCostumerIcon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.consultConstumerinDBTitle h1 {
  padding-top: 5px;
  font-size: 3rem;
  font-family: "Ralewai-bold";
  color: #096371;
  letter-spacing: -0.05rem;
}

.form {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.confirmationArea {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}