@import "../utilities/variables";
@import '../utilities/mixins';

main{
  @include mainStyle;
}

.ActiveOrdersTitle{
  @include title-style("../../../assets/icons/activeOrders-titleIcon.png", 3rem, 50px, 10px);
}
.diplayActiveOrders{
  display: flex;
  flex-direction: column;
}

.displayActiveOrders-modeSelector{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 280px;
  margin-top: 20px;
  & .displayActiveOrders-modeSelector_allOrders{
    width: 50px;
    height: 70px;
    border-bottom: 6px solid #053740;
    padding-bottom: 20px;
  }
  & .displayActiveOrders-modeSelector_inPlace{
    width: 50px;
    height: 70px;
  }
  & .displayActiveOrders-modeSelector_toCarry{
    width: 50px;
    height: 70px;
  }
  & .displayActiveOrders-modeSelector_delivery{
    width: 50px;
    height: 70px;
  }
}

.indicatorTotalActiveOrders{
  min-width: 280px;
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 15px;
  text-align: left;
  font-size: 2rem;
  & .description{
    padding-top: 2px;
    text-align: left;
    font-family: $text-font;
  }
  & .quantity{
    margin-left: 10px;
    font-family: $text-font4;
  }
}