@import '../utilities/variables';
@import '../utilities/mixins';

main{
  @include mainStyle;
}

.consultConstumerinDBTitle{
  @include title-style("../../../assets/icons/entryCostumerIcon.png", 3rem, 40px, 5px);
  margin-top: 20px;
}

.form{
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.confirmationArea{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
