@font-face {
  font-family: "Ralewai-Regular";
  src: url("../../../assets/fonts/Raleway/static/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Ralewai-medium";
  src: url("../../../assets/fonts/Raleway/static/Raleway-Light.ttf");
}
@font-face {
  font-family: "Ralewai-semibold";
  src: url("../../../assets/fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Ralewai-bold";
  src: url("../../../assets/fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Almarai-ExtraBold";
  src: url("../../../assets/fonts/Almarai/Almarai-ExtraBold.ttf");
}
@font-face {
  font-family: "Almarai-Regular";
  src: url("../../../assets/fonts/Almarai/Almarai-Regular.ttf");
}
@font-face {
  font-family: "Almarai-Bold";
  src: url("../../../assets/fonts/Almarai/Almarai-Bold.ttf");
}
.sectionCategoryContainer {
  display: flex;
  flex-direction: column;
}

.categoryTitle {
  display: flex;
  flex-direction: row;
  min-width: 280px;
  margin-bottom: 5px;
  width: auto;
  height: auto;
}
.categoryTitle h2 {
  font-family: "Ralewai-Regular";
  font-size: 2.7rem;
  margin-right: 15px;
}
.categoryTitle span {
  background-image: url("../../../assets/icons/AddProductNavIcon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 20px;
  line-height: 50px;
  margin-top: 5px;
}

.productsContainer {
  position: relative;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  gap: 10px 5px;
  height: 100%;
  width: 100%;
  padding-left: inherit;
}